html,body {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:0;
	font-family:sans-serif;
	font-size:14px;
	background-color:#fff;
}
td {
	padding:0;
}
#header {
	width:100%;
	height:40px;
	background-color:#333;
	position:fixed;
	top:0;
	border-bottom:1px solid black;
	padding:10px;
}
#header table {
	width:100%;
}
#login {
	display:inline;
	color:white;
}
#content {
	position:fixed;
	top:40px;
	bottom:30px;
	height:auto;
	width:100%;
}
#footer {
	width:100%;
	height:30px;
	background-color:#333;
	position:fixed;
	bottom:0px;
	border-top:1px solid black;
}
#qctable
{
	color:black;
	border-collapse:collapse;
	line-height:125%;
}
#qctable td, #qctable th 
{
	border:1px solid grey;
}
.td-selected
{
	background-color:lightYellow;
}
#qctable th 
{
	text-align:left;
	background-color:#ccc;
	border-bottom:1px solid grey
}
#qctable tr:nth-child(even)
{
    background-color:#eee;
}
#qctable tr:nth-child(odd)
{
    background-color:#ddd;
}
button
{
	height: 20px;
	background-color:#eee;
	border:none;
	cursor:pointer;
}
button:hover
{
	background-color:darkGrey;
}
a
{
    color:white;
}
a#nav
{
    text-decoration: none;
}
a:hover
{
    color:orange;
}
small
{
	font-size:11px;
}
