/* Gallery pictures
-----------------------------------------------------------------------------*/
.square {
	position:relative;
	float: left;
	display: block;
	background: rgba(255, 255, 255, 0.5);
	padding:7px;
	line-height:1em;
	border-radius:0px;
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5);
	margin: 10px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
a.gallery {
	color:dimgrey;
	font-family: 'Voltaire', sans-serif;
	text-decoration:none;
}
.crop {
	width:200px;
	height:200px;
	overflow: hidden;
	position:relative;
}
.picture,.description {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
.description {
	background:#fff;
	opacity:0;
	z-index:10;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	display:table;
}
.description h3 {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.description p {
    font-size:1rem;
    font-weight:100;
}
.description:hover {
	opacity:0.9;
}