<a id="loginLink" href="#" onclick="MyLoginWidget.displayLoginForm()">Log in</a>
<span id="loggedinLink">
	<a id="home" href="#" onclick="home()"></a>
	(<a id="logout" href="#" onclick="MyLoginWidget.logout()">Log out</a>)
</span>
<input id="username" type="text" placeholder="Name"/>
<input id="e-mail" type="email" placeholder="E-Mail"/>
<input id="password" type="password" placeholder="Password"/>
<input id="repassword" type="password" placeholder="Confirm Password"/>
<button id="sendLogin" onclick="MyLoginWidget.sendLogin()">Send</button>
<button id="register" onclick="MyLoginWidget.sendRegister()">Send</button>
<button id="cancel" onclick="MyLoginWidget.cancel()">Cancel</button>
<a id="registerLink" href="#" onclick="MyLoginWidget.displayRegisterForm()">Register</a>
<a id="remind" href="#" onclick="MyLoginWidget.remind()">Forgotten password</a>
<span id="warning" style="color:red"></span>
